:root {
    --primary: #1d7874;
    --secondary: #679289;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Mono', monospace;
}

*, *::before, *::after {
    box-sizing: inherit;
}